In [2]:
import pandas as pd

# Input Data
data = [
    {"cust_id": 1, "timestamp": "2024-01-01", "residence": "Tel Aviv", "grade": 8},
    {"cust_id": 2, "timestamp": "2024-01-02", "residence": "Jerusalem", "grade": None},
    {"cust_id": 1, "timestamp": "2024-01-03", "residence": "Tel Aviv", "grade": 8},
    {"cust_id": 3, "timestamp": "2024-01-04", "residence": None, "grade": 7},
    {"cust_id": 2, "timestamp": "2024-01-05", "residence": "Jerusalem", "grade": None}
]

# Create DataFrame
df = pd.DataFrame(data)

print(df)

   cust_id   timestamp  residence  grade
0        1  2024-01-01   Tel Aviv    8.0
1        2  2024-01-02  Jerusalem    NaN
2        1  2024-01-03   Tel Aviv    8.0
3        3  2024-01-04       None    7.0
4        2  2024-01-05  Jerusalem    NaN

In [3]:
# Remove duplicates based on 'cust_id' and keep the first occurrence
df_no_duplicates = df.drop_duplicates(subset='cust_id', keep='first')
print(df_no_duplicates)

   cust_id   timestamp  residence  grade
0        1  2024-01-01   Tel Aviv    8.0
1        2  2024-01-02  Jerusalem    NaN
3        3  2024-01-04       None    7.0

In [4]:
# Remove rows with None in any column
df_no_none = df.dropna()
print(df_no_none)

   cust_id   timestamp residence  grade
0        1  2024-01-01  Tel Aviv    8.0
2        1  2024-01-03  Tel Aviv    8.0

In [10]:
# Calculate the average grade for each city
city_avg = df.groupby('residence')['grade'].mean()


# Function to fill None grades with the average of the city
def fill_grade(row):
    if pd.isna(row['grade']) and row['residence'] in city_avg:
        return city_avg[row['residence']]
    else:
        return row['grade']

# Apply the function to fill None grades with the city's average
df['grade'] = df.apply(fill_grade, axis=1)
print(df)

   cust_id   timestamp  residence  grade
0        1  2024-01-01   Tel Aviv    8.0
1        2  2024-01-02  Jerusalem    NaN
2        1  2024-01-03   Tel Aviv    8.0
3        3  2024-01-04       None    7.0
4        2  2024-01-05  Jerusalem    NaN